/* Type Selectors */
h1 {
    text-align: center;
}

/* ID selectors */

/* main page id selectors */

#description {
    /* description of the website */
    font-size: large;
}

#cute_dude {
    /* image of the cutest dude */
    margin: auto;
    height: 25%;
    width: 25%;
    padding: 10px;
} 

#description p {
    display: inline;
}

#description

/* resume id selectors */

/* Class selectors */
.text_center {
    text-align: center;
}
